[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotmap = "*"
pyyaml = "*"
colorama = "*"
schema = "*"
pathlib = "*"

[dev-packages]
setuptools = "*"
twine = "*"
pytest = "*"
build = "*"

[requires]
python_version = "3.12"
